* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #eee;
    color: #4e4544;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 60px;
}
.main-and-sidebar-wrapper {
    display: flex;
    flex-direction: row;
}
.main_container{
    flex: 3;
    margin-right: 60px;
    text-align: center;
}
.main_container h2{
    font-size: 36px;
    padding-bottom: 50px;
}
.main_container p{
    padding-bottom: 50px;
}

.sidebar {
    flex: 1;
    border: 1px solid #a2a2a2;
    padding: 10px;
}
@media (max-width: 600px) {
    .main-and-sidebar-wrapper {
        flex-direction: column;
    }

    .main_container {
        margin-right: 0;
        margin-bottom: 60px;
    }
}
header {
    display: flex;
    justify-content: space-between;
    padding:20px;
    margin-bottom: 60px;
}
header nav {
    display: flex;
    align-items: baseline;
    list-style: none;
}
header nav li {
    margin-right: 15px;
}
header nav li a{
    text-decoration: none;
    color: #ef5350;
}
header button {
    background-color: #ef5350;
    border: none;
    padding: 8px 25px;
    color: #fff;
    text-transform: uppercase;
}
footer{
    color: #ef5350;
    text-align: center;
    padding: 30px 30px;
}
footer p {
    font-size: 12px;
    color: #4e4544;
}
